<section class="container first-row">
  <div class="owl-carousel owl-theme">
    <% if (posts) { %> <% for (post of posts) { %>
    <div class="item">
      <a href="/post/s/<%= post._id %>">
        <img src="/uploads/<%= post.postImage %>" class="" />
      </a>
    </div>
    <% } %> <% } %>
  </div>
</section>
<section class="mt-3 d-flex justify-content-evenly">
	<div>
		<button id="popular" class="btn btn-outline-info">
			اشهر المنشورات
		</button>
	</div>
	<div>
		<button id="following" class="btn btn-outline-info">
			متابعة
		</button>
	</div>
</section>
<section class="second-row">
  <div id="notChosen" class="followingPosts container-fluid p-0 mt-5">
    <div class="gallery">
      <% if (posts) { %> <% for (post of posts) { %>
      <a class="gallery-item" href="/post/s/<%= post._id %>"
        ><img src="/uploads/<%= post.postImage %>" alt=""
      /></a>
      <% } %> <% } %>
    </div>
  </div>
  
  <div id="chosen" class="popularPosts container-fluid p-0 mt-5">
    <div class="gallery">
      <% if (sortedPosts) { %> <% for (post of sortedPosts) { %>
      <a class="gallery-item" href="/post/s/<%= post._id %>"
        ><img src="/uploads/<%= post.postImage %>" alt=""
      /></a>
      <% } %> <% } %>
    </div>
  </div>
</section>
