<section class="second-row">
  <div class="container-fluid p-0 mt-5">
    <div class="post-detail-main container">
      <a class="clean-link mr-2" href="/profile/<%= post.postAuthor.username %> ">
        <img class="rounded-circle author-img" src="/uploads/<%= post.postAuthor.image %> " alt="">
        <%= post.postAuthor.displayName %>
        </a>
      <% if (user && user.id === post.postAuthor.id) {%>
      <div>
        <a class="btn btn-danger mt-1 mb-1" href="/post/delete/<%= post._id %>">
          احذف
        </a>
      </div>
      <% } %>
      <h2 class="post-title border-bottom"><%= post.postTitle %></h2>
      <a
        class="post-detail"
        target="_blank"
        href="/uploads/<%= post.postImage %>"
      >
        <img
          class="post-detail-Image"
          src="/uploads/<%= post.postImage %>"
          alt=""
        />
      </a>
      <p><%= post.postDesc %></p>
      <% if (post.postCategories) { %> <% for( category of post.postCategories )
      { %>
      <p><%= category %></p>
      <% } %> <% } %>

      <small class="row post-date text-muted"><%= postDate %></small>

      <div class="d-flex justify-content-between">
        <div class="likes">
          <button
            class="btn btn-outline-info like-button"
            onclick="likePost(event)"
            data-post-id="<%= post.id %>"
          >
            <% if (like) { %>Unlike<% } else {%> Like <% } %>
          </button>
          <button
            class="clean-link"
            id="likes-count-<%= post.id %>"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <%= post.likes.length %>
          </button>
        </div>
        <!-- Modal -->
        <div
          class="modal"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button
                  dir="ltr"
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <% for (postLiker of postLikes) { %>
              <div class="modal-body">
                <a href="/profile/<%= postLiker.username %>"
                  ><img class="rounded-circle like-user-img" src="/uploads/<%= postLiker.image %>" alt="">
                  </a>
              </div>
              <% } %>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
		<div>
			<button
            class="btn btn-outline-info fav-button"
            onclick="favPost(event)"
            data-post-id="<%= post.id %>"
			value="Fav"
          ><% if (fav) { %>احذف من المفضلة<% } else {%> مفضلة <% } %></button>
		</div>
        <div>
			<a href="#commentForm" class="btn btn-outline-info" onclick="comment()"
			  >Comment</a>
		</div>
      </div>
      <section class="container">
        <form
          style="display: none"
          id="commentForm"
          method="POST"
          action="/post/comment/<%= post.id %>"
          enctype="multipart/form-data"
        >
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">التعليق</legend>

            <div class="form-group">
              <textarea
                class="form-control"
                id="commentText"
                rows="3"
                name="comment"
              ></textarea>
            </div>

            <div class="form-group mt-3">
              <input
                class="form-control"
                type="file"
                name="commentImage"
                id="imageInput"
                accept="image/jpeg, image/png, image/jpg"
              />
            </div>
          </fieldset>
          <div class="form-group mt-3">
            <button class="btn btn-outline-info" type="submit">التعليق</button>
          </div>
        </form>
      </section>
      <section class="">
        <div class="container-fluid p-0 mt-5">
          <div class="">
            <% if (comments) { %> <% for (comment of comments) { %>
            <div class="card">
              <div class="user">
                <a class="clean-link" href="/profile/<%= comment.commentAuthorId.username %>">
                  <img class="rounded-circle comment-user-img" src="/uploads/<%= comment.commentAuthorId.image %>" alt="">
                  <%= comment.commentAuthorId.displayName %>
                </a>
                </div>
              <p><%= comment.commentBody %></p>
            </div>
            <% } %> <% } %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
