<section class="second-row">
  <div class="container-fluid p-0 mt-5">
    <div class="post-detail-main container">
      <a class="mr-2" href="/profile/<%= postAuthor.username %> "
        ><%= postAuthor.displayName %></a
      >
      <% if (user && user.id === postAuthor.id) {%>
      <div>
        <a class="btn btn-danger mt-1 mb-1" href="/post/delete/<%= post._id %>">
          احذف
        </a>
      </div>
      <% } %>
      <h2 class="post-title"><%= post.postTitle %></h2>
      <a
        class="post-detail"
        target="_blank"
        href="/uploads/<%= post.postImage %>"
      >
        <img
          class="post-detail-Image"
          src="/uploads/<%= post.postImage %>"
          alt=""
        />
      </a>
      <p><%= post.postDesc %></p>
      <% if (post.postCategories) { %> <% for( category of post.postCategories )
      { %>
      <p><%= category %></p>
      <% } %> <% } %>

      <div class="likes">
        <button
          class="btn btn-outline-info like-button"
          onclick="likePost(event)"
          data-post-id="<%= post.id %>"
        >
          <% if (like) { %>Unlike<% } else {%> Like <% } %>
        </button>
        <button
          class="likes-count"
          id="likes-count-<%= post.id %>"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <%= post.likes.length %>
        </button>
      </div>
      <!-- Modal -->
      <div
        class="modal"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button
                dir="ltr"
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <% for (const postLiker of postLikers) { %>
            <div class="modal-body">
              <a href="/profile/<%= postLiker.username %>"
                ><%= postLiker.displayName %></a
              >
            </div>
            <% } %>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->

      <small class="row post-date text-muted"><%= postDate %></small>

      <div>
        <a href="#commentForm" class="btn btn-outline-info" onclick="comment()">Comment</a>
      </div>
      <section class="container">
        <form
          style="display: none"
          id="commentForm"
          method="POST"
          action="/post/comment/<%= post.id %>"
          enctype="multipart/form-data"
        >
          <fieldset class="form-group">
            <input type="hidden" name="GETpath" id="hidden" value="/post/s/<%= post.id %>">
            <legend class="border-bottom mb-4">التعليق</legend>

            <div class="form-group">
              <textarea
                class="form-control"
                id="commentText"
                rows="3"
                name="comment"
              ></textarea>
            </div>

            <div class="form-group mt-3">
              <input
                class="form-control"
                type="file"
                name="commentImage"
                id="imageInput"
                accept="image/jpeg, image/png, image/jpg"
              />
            </div>
          </fieldset>
          <div class="form-group mt-3">
            <button class="btn btn-outline-info" type="submit">التعليق</button>
          </div>
        </form>
      </section>
      <section class="">
        <div class="container-fluid p-0 mt-5">
          <div class="">
            <% if (comments) { %> <% for (comment of comments) { %>
            <div class="card">
              <p><%= comment.commentBody %></p>
              </div>
            <% } %> <% } %>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
